<h2>{{header}}</h2><br>
<div class="products">
  {% for key,file in files %}
    <div class="products-item">
      <h2 class="head">Картинка №{{ key+1 }}</h2>
      <div class="imgbox">
        <a href='?file={{ file }}&key={{ key+1 }}' target='_self'>
          <img src='{{ images}}{{ file }}' alt='product' class="img">
        </a>
      </div>
    </div>
  {% endfor %}
</div>    
